@model IEnumerable<BudgetTracker.Models.Limit>

@{
    ViewData["Title"] = "Amount";
}

<h1>Amount</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BudgetId" class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BudgetId" class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BudgetId" class="btn btn-primary">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
